body {
	margin: 0;
	font-family: system-ui;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}
.Group {
	display: flex;
	gap: 44px;
}
.li:hover {
	border-bottom: 2px solid red;
}
.wrapper {
	width: 1440px;
	height: 810px;
	margin: 0 auto;
	background: url('./img/bgraynd.png');
}
